.caption {
  height: 164px;
}



.container {
  padding: 0;
  width: 100%;
  display: flex;
}

.side-area {
  padding: 0;
  width: 20%;
}

.side-area ul{
  list-style-type: none;
  margin: 50px 20px;
  border-right: 1px solid lightgray;
}

.side-area li{
  border-bottom: 1px solid lightgray;
  margin: 20px;
}

.filters{
  padding: 0px;
}
.filters li{
  margin: 0 20px 0 0;
}
.filters label{
  margin: 0;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.filters label:hover{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main-area {
  width: 80%;
  padding: 0 15px;
}

.main-area .directory {
  width: 100%;
}

.main-area .products-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-area .items {
  min-width: 150px;
  width: calc(100%/5 - 2*20px);
  margin: 0 20px;
}
.main-area .items a{
  text-decoration: none;
}
.main-area .hide-on-hover {
  margin: 0 15px;
}

.item-header{
  display: flex;
  justify-content: space-between;
}

.is-new{
  visibility: hidden;
  color: green;
}

.sale-rate{
  visibility: hidden;
  color: red;
}

.main-area .items:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid lightgray;
}

.main-area li:hover .hide-on-hover {
  visibility: hidden;
}

.main-area img {
  margin: 0;
  width: 100%;
}

.main-area .current-price{
  color: green;
  font-size: large;
}

.main-area .original-price{
  color: red;
  text-decoration: line-through;
}



.main-area .pages{
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
}
.pages .page-buttons{
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: lightgray;
  line-height: 30px;
  text-align: center;
}
.pages a{
  text-decoration: none;
  color: black;
}
.overlay {
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0);
}
.overlay:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.pages .current-page-buttons{
  background-color: darkkhaki;
  font-weight: bold;
}

