* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}

*:focus {
    outline: none;
}


/* ----------------------------------------------------------------------------------- */

.banner,
.banner img {
    width: 100%;
}

.container-horizontal {
    width: 100%;
    display: flex;
}

.side-area {
    width: 20%;
    background-color: #f5dfc5;
}

.side-area ul {
    list-style-type: none;
    margin: 30px 20px;
    /* border-right: 1px solid lightgray; */
}

.side-area li {
    border-bottom: 1px solid #cccccc;
    margin: 20px;
    /* padding-bottom: 16px; */
}

.side-area .danh_muc:last-child {
    border-bottom: none;
    margin: 20px;
    padding-bottom: 16px;
}

.side-area li a {
    color: #333;
    padding-left: 0;
}

.side-area li a:hover {
    color: #78a204;
    padding-left: 8px;
    text-decoration: none;
}


/* ----------------------------------------------------------------------------------- */

.filters li {
    margin: 0 20px 0 0;
}

.filters a {
    text-decoration: none;
}

.filters .filter-element {
    margin-top: 20px;
    padding: 0 20px 16px 16px;
    width: 100%;
    height: 40px;
    /* line-height: 40px; */
}


/* .filters .filter-element:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
} */


/* ----------------------------------------------------------------------------------- */

.main-area {
    width: 80%;
    padding: 0 15px;
}

.main-area .directory {
    width: 100%;
}

.main-area .products-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.main-area .items {
    min-width: 150px;
    width: calc(100%/5 - 2*20px);
    margin: 0 20px 40px 20px;
}

.main-area .items a {
    text-decoration: none;
}

.main-area .hide-on-hover {
    margin: 0 15px;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

.is-new {
    visibility: hidden;
    color: rgb(50, 115, 32);
}

.sale-rate {
    visibility: hidden;
    color: rgb(253, 62, 59);
}

.sale-rate h4 {
    font-weight: 600;
}

.main-area .items:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ffffff;
}

.main-area li:hover .hide-on-hover {
    visibility: hidden;
}

.main-area img {
    width: 100%;
}

.current-price {
    color: rgb(169, 83, 111);
    font-size: x-large;
    font-weight: 700;
}

.original-price {
    color: gray;
    font-size: smaller;
    text-decoration: line-through;
}

.image-container .product-name {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.image-container .product-name:hover {
    color: #78a204;
}

.breadcrumb-item a {
    color: #43992A;
}

.breadcrumb-item a:hover {
    color: #224D15;
    text-decoration: none;
}


/* ---------------------------------------------------------------------------------------------- */

.main-area .pages {
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

.pages .page-buttons {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: lightgray;
    line-height: 30px;
    text-align: center;
}

.pages a {
    text-decoration: none;
    color: #554510;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.pages .current-page-buttons {
    background-color: #f9c937;
    color: white;
    font-weight: bold;
}


/* ----------------------------------------------------------------------------------- */


/* STAR RATING */

.rate a,
.rate a:hover~a {
    color: #222;
    text-shadow: none;
    transition: color 200ms, text-shadow 200ms;
    text-decoration: none;
    transition-delay: 0;
    font-size: 48px;
}

.rate:hover a,
.rate .active {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
}

.rate:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
    transition-delay: 120ms;
}

.rate i {
    cursor: pointer;
    font-style: normal;
}


/* ----------------------------------------------------------------------------------- */


/* Header */

.header {
    background-color: rgb(67, 153, 42);
}

.header a {
    color: white!important;
}


/* ----------------------------------------------------------------------------------- */


/* ITEM */

.scroll-vertical {
    overflow: auto;
}


/* ----------------------------------------------------------------------------------- */


/* NEWS */

.vertical-ad-banner {
    width: 100%;
    margin: 10px;
}

.vertical-ad-banner img {
    padding: 20px;
    width: 100%;
}

.border {
    border: 1px solid black;
}

.thumbnail-img {
    width: 100%;
}

.news-element {
    margin: 30px;
}